.container{
    background: beige;
}

.jumbotron{
    background: transparent;
}

a{
    text-decoration: none !important;
}


.footer{
    height: 10%;
    width: 100%;
    text-align: center;
    background: #111;
    position: absolute;
    bottom: 0%;
  }
  
  #footerTitle{
    text-align: center;
    color: #FFF;
  }
  
  @media screen and (max-width: 768px) {
  
    #footerTitle{
      font-size: 36px;
        }
    
    }
  