body, .container, .jumbotron{
    background: white;
}

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

/* Variables */

$mainBlue :   #0366d6;
$profileBlue : #008CBA;

/* Mixins */

@mixin shadowBottom($top, $down, $left, $right, $color){
box-shadow: $top $down $left $right $color;
}

@mixin shadowAround($top, $down, $left, $right, $color){
 -webkit-box-shadow: $top $down $left $right $color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow:    $top $down $left $right $color;  /* Firefox 3.5 - 3.6 */
 box-shadow:         $top $down $left $right $color;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */   
}

#header{
    background: url("../img/city.jpg") no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    background-attachment: fixed;
    height: 100vh; 
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  line-height: 90vh;
   text-align: center;
 /*  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px); 
  filter: blur(12px); */
}

#recentUploads, #originalSeries, #getConnect{
    width: 100%;
  /*  padding: 20px 10px 60px 10px; */
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-bottom: 2px solid $mainBlue;
}

#meetTheCrew{
   height: 100%;  
}

#recentUploads{
background: url("../img/videoeditorCoverBlur.jpg")  no-repeat center center;
background-attachment: fixed;
 //background-size: 100% 1200px;
}

#originalSeries{
background: url("../img/virtualdjCoverBlur.jpg")  no-repeat center center;
background-attachment: fixed;
//background-size: 100% 1200px;
}

#getConnect{
background: url("../img/photoshopCoverBlur.jpg")  no-repeat center center;
background-attachment: fixed;
//background-size: 100% 600px;
}

#listOfRecentVideos{
  background: white;
}

.pause{
text-align: center;
width: 100%;
height: 100px;
}

.idea{
  text-align: center;
  margin-top: 10px;
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 75px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
     -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}


#mainTitle{
  font-size: 84px;
}


@media (max-width:660px) {

  #mainTitle{
    font-size: 48px;
  }

} 

@media (max-width:420px) {

  #mainTitle{
    font-size: 36px;
  }

} 

.contentHeader{
  text-align: center;
 width: 100%;
}

.contentTitle {
  border-bottom: 2px solid red;
  text-align: center;
  width: 250px;
  margin: auto;
  padding-bottom: 10px;
}

.contentSubtitle{
   color: white; 
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.pause{
  width: 100%;
  background: white;
}


.profileDiv{
  width: 300px;
  height: 365px;
  background: $profileBlue;
 @include shadowBottom(0, 8px, 6px, -6px, #000); 
}

@media screen and (max-width: 992px) {

 .profileDiv{
  width: 200px;
  height: 260px;
  }

  .profileDesc{
  height: 45px;
}

.profilePicDiv .profilePic {
  display: block;
  width: 100%;
  height: 200px !important;
}

.overlay {
  width: 200px !important;
  height: 200px !important;
  margin-top: -275px !important;
}

.overlayProfileDesc {
  color: #111;
  font-size: 10px !important;
  text-align: center;
  padding-top: 15px !important;
}


} ////////////

@media screen and (max-width: 768px) {

 .profileDiv{
  width: 235px;
  height: 260px;
  }

  #profileMirza{
  margin-top: 30px;
  }

  .profileDesc{
  height: 45px;
}

.profilePicDiv .profilePic {
  display: block;
  width: 100%;
  height: 200px !important;
}

.overlay {
  width: 235px !important;
  height: 200px !important;
  margin-top: -275px !important;
}

.overlayProfileDesc {
  color: #111;
  font-size: 10px !important;
  text-align: center;
  padding-top: 15px !important;
}


} ////////////

.profileDesc{
  height: 65px;
}

.profilePicDiv .profilePic {
  display: block;
  width: 100%;
  height: 300px;
}

.overlay {
  margin-top: -375px;
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 3.5%;
  right: 0;*/
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #90CAF9;
}

.profileDiv:hover .overlay {
  opacity: 0.75;
}

.overlayProfileDesc {
  color: #111;
  font-size: 14px;
  text-align: center;
  padding-top: 25px;
}

.aboutUs{
  font-size: 14px !important;
  padding: 15px;
  @include shadowBottom(0, 8px, 6px, -6px, #000);
}


.recentUploads{
  height: 300px;
  border: 1px solid #aaa;
  @include shadowBottom(0, 8px, 6px, -6px, #000);
}

#listOfRecentVideos{
  width: 100%; 
  overflow: auto;
}


.listLi{
  list-style-type: none;
  height: 75px;
  width: 100%;  
  cursor: pointer;
@include shadowAround(1px, 1px, 1px, 1px, #aaa); 

&:hover{
  @include shadowAround(3px, 3px, 5px, 3px, #aaa); 
}

}

.listLi:hover .innerLi{
   color: $mainBlue;
}


.listLi:hover .listImg{
    @include shadowAround(3px, 3px, 5px, 0, #aaa);
}

.listImg {
  float: left;
  width: 25%;
  height: 75px;
  @include shadowAround(1px, 1px, 1px, 1px, #aaa); 
}

.innerUl{
  padding-top:5px;
  list-style-type: none;
}

.innerLi{
    text-align: center;
    font-size: 16px;
    }

     @media (max-width:992px){
.innerLi{
     font-size: 14px;
}
  } 

a{
  text-decoration: none !important;
  color: black;
}

.popularTitle{
  font-size: 16px;
  background: white;
  height: 75px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 30px;
  box-shadow: 0 8px 6px -6px black;
}

 @media (max-width:1200px){
 .popularTitle{
  font-size: 14px;
} 
  } 

   @media (max-width:415px){
 .popularTitle{
  font-size: 14px;
} 
  } 


.hey{
    cursor: pointer;
}

.popularDiv:hover .popularTitle{
color: $mainBlue !important;
}


.popularDiv .popularImg {
  float: left;
  width: 35%;
  height: 75px;
}

 @media (max-width: 768px){
 .popularDiv .popularImg {
  width: 25%;
}


  } 


.learnMore{
  cursor: pointer;
  color: #FFF !important;
  border-radius: 2px;
  background: $mainBlue;
  margin-bottom: 5px;
  opacity: 0.8;
  transition: 0.3s;

&:hover{
  color: #FFF !important;
  opacity: 1;
}

&:active{
  color: #FFF !important;
}


}


.carousel-indicators{
  z-index: 1;
 /* position: absolute;
  bottom: 4% !important;*/
}

.carousel-caption{
/*  position: absolute;
  bottom: 0% !important; */
}

.storiesPic{
  height: 150px;
  width: 100%;
  @include shadowBottom(0, 8px, 6px, -6px, #000);
}

@media (max-width:768px){

  .storiesBox {
   margin-top: 20px;
  }

  .storiesBox:first-child {
    margin-top: 0px;
   }
    
    }

.secondRow, .thirdRow{
height: 210px;
}

/* slider */


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* ISPOD SU Get in Touch kartice */

/* perspective */

.flip-container {
  perspective: 1000;
  margin: 10px;
  float: left;
}
/* turning on hover */

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
}
/* flipping speed here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* making the the other side hidden while flipping */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front side is in front of a back side */

.front {
  z-index: 2;
  background-color: tomato;
  color: white;
}

.twitterBlue{
  background-color: #1DA1F2;
}

/* back side */

.back {
  transform: rotateY(180deg);
  background-color: lightblue;
}

.back p {
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Kaushan Script', cursive;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #333;
  color: white;
}



/* SNACKBAR / TOAST */

#snackbar {
  background: #333;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #FFF;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 25px;
    font-size: 17px;
    border-radius: 5px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.footer{
  height: 100%;
  width: 100%;
  text-align: center;
  background: #111;
}

#footerTitle{
  text-align: center;
}

@media screen and (max-width: 768px) {

  #footerTitle{
    font-size: 36px;
      }
  
  }

  


/* WHERE DO WE GO NEXT */


.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    &:hover {
      cursor:pointer;
  }
}

.side-tab:hover {
        cursor: pointer;
    }
    
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .panel-heading {
        border: none;
        background-color: $mainBlue;
        &:hover{
          background-color: #0050aa;  
        } 
    }
    
    .panel-body {
        background-color: #eee;
        @include shadowBottom(0, 8px, 6px, -6px, #000);
    }
    .panel-title {
        font-weight: 400;
        color: white;
    }

    .tab-featured-image{
     width: 100%;
     border: 2px solid #FFF;
    }



/* NAVBAR */

/* Main */
#menu{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
  position: fixed;
	list-style: none;  
	background: #333;
  z-index: 5;
	background: -moz-linear-gradient(#444, #111); 
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

.menu-trigger{
display: none;  
}



#menu li{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
}

#menu a{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a{
	color: #fafafa;
}

 #menu li a:hover{ /* IE6 */
	color: #fafafa;
}

#menu li:hover > ul{
	display: block;
}


@media screen and (max-width: 800px) {

#menu a{
	padding: 0 15px;
    }

}


@media screen and (max-width: 660px) {

.menu-trigger{
  display: block;
}

.navbarLi{
  display: none;
   }

   #menu{
     padding-left: -100px;
   }

}


/* Sub-menu */

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 6;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

 #menu ul a{ /* IE6 */   
	height: 10px;
	width: 150px;
}

#menu:first-child #menu ul a{ /* IE7 */    
	height: 10px;
	width: 150px;
}

#menu ul a:hover{
        background: #0186ba;
}

#menu ul li:first-child a{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul li:first-child a:hover:after{
    border-bottom-color: #04acec; 
}

#menu ul li:last-child a{
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

 #menu             { zoom: 1; } /* IE6 */
#menu:first-child #menu { zoom: 1; } /* IE7 */
#menu > li:last-child
{
    float:right;
}


/* FULL SCREEN OVERLAY */

.screenOverlay {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    /*background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);*/
    background: url("../img/screenOverlayRainbow.jpg") no-repeat center center;
    height: 100vh; 
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 1;
    overflow-y: hidden;
    transition: 0.5s;
}

.screenOverlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
}

.screenOverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.screenOverlay a:hover, .screenOverlay a:focus {
    color: #f1f1f1;
}

.screenOverlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .screenOverlay {overflow-y: auto;}
  .screenOverlay a {font-size: 20px}
  .screenOverlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

// probaj umjesto episodesImg da bacis background IMG u div episodes


.episodes{
  height: 150px;
  width: 250px;

}

.episodesImg{
  padding-top: 20px;
  cursor: pointer;
  height: 150px;
  width: 250px;
  @include shadowBottom(0, 8px, 6px, -6px, #000); 
}