

/* MINI NAVBAR */

#openMiniNav{
    cursor: pointer;
}

@media (min-width:660px) {

.outerNavUl{
    display: none;
}

}

.outerNavUl, .innerNavUl{
    height: 125px;
    list-style-type: none;
    padding: 0;
    z-index: 2;
    background: #333;
    background: -moz-linear-gradient(#444, #111); 
    background: -webkit-linear-gradient(#444, #111);	
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 2px 1px #9c9c9c;
    -webkit-box-shadow: 0 2px 1px #9c9c9c;
    box-shadow: 0 2px 1px #9c9c9c;
    cursor: pointer;
}

.outerNavLi a, .innerNavLi a{
    color: #999;
    font: bold 12px/25px Arial, Helvetica;
}

.outerNavLi{
    width: 140px;
    padding-left: 10px;
    text-transform: uppercase;
}


.outerNavLi:hover .outerNavLiAnchor {
    color: #FFF;
}

.innerNavLi:hover .innerNavLiAnchor{
    color: #FFF;
}

#projectsLi:hover .innerNavUl{
    display: block;
}

//This will display the arrow to the right
#innerNavLiProjects::after{
    content: "  \25b6";
}

// If width is less then 320px, I don't want inner Ul to overlapp, so I'll just not display it
@media (max-width:320px) {

    #projectsLi:hover .innerNavUl{
        display: none;
    }

// I want to remove that arrow because inner Ul will be gone and no need to point if there's nothing to show
    #innerNavLiProjects:after{
        content: "";
    }
    
}
    

.innerNavLi{
    padding-top: 3.5%;
    width: 160px;
    padding-left: 10px;
    text-transform: capitalize;
    &:hover{
        background: #0186ba;
    }
    border-bottom: 1px solid #444;
}

.innerNavLi:last-child{
    border-bottom: none;
}

/* positioning */

.outerNavUl{
    position: fixed;
    top: -120px;
    left: 0;
}

.innerNavUl{
    position: absolute;
    margin-left: 130px;
    top: 0px;
    padding: 0px;
    display: none;
    border-right: 2px solid #9c9c9c;
}

a{
    text-decoration: none;
}

