
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

/* Variables */

$mainBlue :   #0366d6;
$profileBlue : #008CBA;

/* Mixins */

@mixin shadowBottom($top, $down, $left, $right, $color){
box-shadow: $top $down $left $right $color;
}


body{
    overflow-x: hidden;
    background: #111;
}

html,body {
     height:100%; 
    }

.sidenav{
    height: 100%;
    border-right: 2px solid #666;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlayHeader{
   text-align: center;
   width: 100%;
  }
  
  .overlayTitle {
    border-bottom: 2px solid red;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
    color: #FFF;
  }

.videoContainer{
    background: beige;
    height: 100%;
    width: 100%;
}

.overlayPreviewImg{
    margin-top: 10px;
    height: 100px;
    width: 100%;
}

.overlayPreviewImg:first-child{
    margin-top: 0px;
}


.overlayIframe{
    text-align: center;
    margin: 0 auto;
    display: block;
    width:  640px;
    height: 480px;
}

.overlayListLi{
    list-style-type: none;
    height: 125px;
    padding-top: 20px;
    width: 100%;  
    opacity: 0.75;
    cursor: pointer;
    @include shadowBottom(0, 8px, 6px, -6px, #666);

    &:hover{
        opacity: 1;
    }
  }
  
  .overlayListHeading{
      padding-top: 15px;
      text-align: center;
      width: 100%;
      display: none;
      color: #FFF;
  }

  #overlayBottomList{
      display: none;
  }

  .overlayListLi:hover .overlayListHeading{
    display: block;
  }


  .blackBackground{
      background: #000;
      @include shadowBottom(0, 8px, 6px, -6px, #333);
  }

  #textCenterDiv{
    padding: 20px 0;
    margin-top: 75px;
  }

  #overlayVideoDescDiv{
    height: 211px;
  }
  
  .overlayVideoDescription{
      color: #FFF;
  }

#overlayIframeDiv{
    height: 100%;
    width: 100%;
}

  @media only screen and (max-width: 1200px) {

    .overlayVideoDescription{
       font-size: 16px;
     }

     .overlayIframe{
        height: 320px;
        width: 480px;
    }
      
 }

 @media only screen and (max-width: 768px) {

    #overlayVideoDescDiv{
        margin-bottom: 20px;
        height: 100%;
      }

    .overlayPreviewImg{
         height: 300px;
     }

     #textCenterDiv{
        padding: 20px 0;
        margin-top: 40px;
      }

      #overlayBottomList{
        margin-top: 40px;
        display: block;
    }
  
    
 
 }

 @media only screen and (max-width: 570px) {

    .overlayIframe{
        height: 240px;
        width: 320px;
    }
    

 }


 @media only screen and (max-width: 480px) {

    .overlayVideoDescription{
        font-size: 14px;
      }

      .overlayIframe{
        height: 160px;
        width: 240px;
    }
 
 }


 @media only screen and (max-width: 420px) {

      .overlayIframe{
        height: 120px;
        width: 200px;
    }
        }
 
 



 