
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    &:hover {
      cursor:pointer;
  }
}

.side-tab:hover {
        cursor: pointer;
    }
    
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .panel-heading {
        border: none;
        background-color: $mainBlue;
        &:hover{
          background-color: #0050aa;  
        } 
    }
    
    .panel-body {
        background-color: #eee;
        @include shadowBottom(0, 8px, 6px, -6px, #000);
    }
    .panel-title {
        font-weight: 400;
        color: white;
    }

    .tab-featured-image{
     width: 100%;
     border: 2px solid #FFF;
    }

