@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
body, .container, .jumbotron {
  background: white; }

/* Variables */
/* Mixins */
/* LOADER */
.mainDiv {
  /* Positioning */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #111; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  /* Animation */
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  text-align: center;
  margin: 0 auto; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* /LOADER */
#header {
  background: url("../img/city.jpg") no-repeat center center;
  width: 100%;
  padding: 20px 10px 60px 10px;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  line-height: 90vh;
  text-align: center;
  /*  -webkit-filter: blur(12px);
   -moz-filter: blur(12px);
   -o-filter: blur(12px);
   -ms-filter: blur(12px); 
   filter: blur(12px); */ }

/* All divs with background image, except header are wrapped inside this .imgWrapper div -> to prevent white bar glitch */
.imgWrapper {
  width: 100%; }

.backgroundImgDiv {
  width: 100%;
  /*  padding: 20px 10px 60px 10px; */
  overflow: hidden;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  height: 100%;
  border-bottom: 2px solid #0366d6;
  background-attachment: fixed; }

#meetTheCrew {
  height: 100%; }

#recentUploads {
  background: url("../img/videoeditorCoverBlur.jpg") no-repeat center center;
  height: 100%;
  background-size: 100% 100%;
  background-attachment: fixed; }

#originalSeries {
  background: url("../img/virtualdjCoverBlur.jpg") no-repeat center center;
  height: 100%;
  background-size: 100% 100%;
  background-attachment: fixed; }

#getConnect {
  background: url("../img/photoshopCoverBlur.jpg") no-repeat center center;
  height: 100%;
  background-size: 100% 100%;
  background-attachment: fixed; }

#listOfRecentVideos {
  background: white; }

.pause {
  text-align: center;
  width: 100%;
  height: 100px; }

.idea {
  text-align: center;
  margin-top: 10px; }

#openBlog {
  color: #FFA500 !important;
  margin-right: 20px !important;
  text-transform: capitalize !important; }
  #openBlog:hover {
    color: #ffd280 !important; }

h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 75px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

#mainTitle {
  font-size: 84px; }

@media (max-width: 660px) {
  #mainTitle {
    font-size: 48px; } }
@media (max-width: 420px) {
  #mainTitle {
    font-size: 36px; } }
.contentHeader {
  text-align: center;
  width: 100%; }

.contentTitle {
  border-bottom: 2px solid red;
  text-align: center;
  width: 250px;
  margin: auto;
  padding-bottom: 10px; }

.contentSubtitle {
  color: white;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px; }

.pause {
  width: 100%;
  background: white; }

.item {
  height: 50vh; }

.profileDiv {
  width: 300px;
  height: 365px;
  background: #008CBA;
  box-shadow: 0 8px 6px -6px #000; }

@media screen and (max-width: 992px) {
  .profileDiv {
    width: 200px;
    height: 260px; }

  .profileDesc {
    height: 45px; }

  .profilePicDiv .profilePic {
    display: block;
    width: 100%;
    height: 200px !important; }

  .overlay {
    width: 200px !important;
    height: 200px !important;
    margin-top: -275px !important; }

  .overlayProfileDesc {
    color: #111;
    font-size: 10px !important;
    text-align: center;
    padding-top: 15px !important; } }
@media screen and (max-width: 768px) {
  .profileDiv {
    width: 235px;
    height: 260px; }

  #profileMirza {
    margin-top: 30px; }

  .profileDesc {
    height: 45px; }

  .profilePicDiv .profilePic {
    display: block;
    width: 100%;
    height: 200px !important; }

  .overlay {
    width: 235px !important;
    height: 200px !important;
    margin-top: -275px !important; }

  .overlayProfileDesc {
    color: #111;
    font-size: 10px !important;
    text-align: center;
    padding-top: 15px !important; } }
.profileDesc {
  height: 65px; }

.profilePicDiv .profilePic {
  display: block;
  width: 100%;
  height: 300px; }

.overlay {
  margin-top: -375px;
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 3.5%;
  right: 0;*/
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #90CAF9; }

.profileDiv:hover .overlay {
  opacity: 0.75; }

.overlayProfileDesc {
  color: #111;
  font-size: 14px;
  text-align: center;
  padding-top: 25px; }

.aboutUs {
  font-size: 14px !important;
  padding: 15px;
  box-shadow: 0 8px 6px -6px #000; }

.recentUploads {
  height: 300px;
  border: 1px solid #aaa;
  box-shadow: 0 8px 6px -6px #000; }

#listOfRecentVideos {
  width: 100%;
  overflow: auto; }

.listLi {
  list-style-type: none;
  height: 75px;
  width: 100%;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 1px #aaa;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 1px 1px #aaa;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px #aaa;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .listLi:hover {
    -webkit-box-shadow: 3px 3px 5px 3px #aaa;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 3px #aaa;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 3px #aaa;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.listLi:hover .innerLi {
  color: #0366d6; }

.listLi:hover .listImg {
  -webkit-box-shadow: 3px 3px 5px 0 #aaa;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 0 #aaa;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 0 #aaa;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.listImg {
  float: left;
  width: 25%;
  height: 75px;
  -webkit-box-shadow: 1px 1px 1px 1px #aaa;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 1px 1px #aaa;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px #aaa;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.innerUl {
  padding-top: 5px;
  list-style-type: none; }

.innerLi {
  text-align: center;
  font-size: 16px; }

@media (max-width: 992px) {
  .innerLi {
    font-size: 14px; } }
a {
  text-decoration: none !important;
  color: black; }

.popularTitle {
  font-size: 16px;
  background: white;
  height: 75px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 30px;
  box-shadow: 0 8px 6px -6px black; }

@media (max-width: 1200px) {
  .popularTitle {
    font-size: 14px; } }
@media (max-width: 415px) {
  .popularTitle {
    font-size: 14px; } }
.hey {
  cursor: pointer; }

.popularDiv:hover .popularTitle {
  color: #0366d6 !important; }

.popularDiv .popularImg {
  float: left;
  width: 35%;
  height: 75px; }

@media (max-width: 768px) {
  .popularDiv .popularImg {
    width: 25%; } }
.learnMore {
  cursor: pointer;
  color: #FFF !important;
  border-radius: 2px;
  background: #0366d6;
  margin-bottom: 5px;
  opacity: 0.8;
  transition: 0.3s; }
  .learnMore:hover {
    color: #FFF !important;
    opacity: 1; }
  .learnMore:active {
    color: #FFF !important; }

.carousel-indicators {
  z-index: 1;
  /* position: absolute;
   bottom: 4% !important;*/ }

.carousel-caption {
  /*  position: absolute;
    bottom: 0% !important; */ }

.storiesPic {
  height: 150px;
  width: 100%;
  box-shadow: 0 8px 6px -6px #000; }

@media (max-width: 768px) {
  .storiesBox {
    margin-top: 20px; }

  .storiesBox:first-child {
    margin-top: 0px; } }
.secondRow, .thirdRow {
  height: 210px; }

/* slider */
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* ISPOD SU Get in Touch kartice */
/* perspective */
.flip-container {
  perspective: 1000;
  margin: 10px;
  float: left; }

/* turning on hover */
.flip-container:hover .flipper {
  transform: rotateY(180deg); }

.flip-container,
.front,
.back {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  border-radius: 20px; }

/* flipping speed here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

/* making the the other side hidden while flipping */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front side is in front of a back side */
.front {
  z-index: 2;
  background-color: tomato;
  color: white; }

.twitterBlue {
  background-color: #1DA1F2; }

/* back side */
.back {
  transform: rotateY(180deg);
  background-color: lightblue; }

.back p {
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Kaushan Script', cursive;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #333;
  color: white; }

/* SNACKBAR / TOAST */
#snackbar {
  background: #333;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #FFF;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 25px;
  font-size: 17px;
  border-radius: 5px; }

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
.footer {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #111; }

#footerTitle {
  text-align: center; }

@media screen and (max-width: 768px) {
  #footerTitle {
    font-size: 36px; } }
/* Upcoming */
#upcomingVideo {
  background: url("../img/insurgencyNext.jpg");
  height: 70vh;
  width: 100%;
  opacity: 0.85;
  transition: all 1s;
  box-shadow: 0 8px 6px -6px #FFF; }
  #upcomingVideo:hover {
    opacity: 1; }

#upcomingDetails {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

#upcomingInfo {
  -webkit-text-fill-color: #FFA500;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darken "#FFA500", 50%;
  font-size: 24px;
  width: 50%; }

@media screen and (min-height: 1440px) {
  #upcomingVideo {
    height: 800px; }

  #mainTitle {
    font-size: 110px; }

  .item {
    height: 450px; } }
@media (max-width: 1200px) {
  #upcomingInfo {
    font-size: 20px;
    width: 75%; } }
@media (max-width: 768px) {
  #upcomingInfo {
    font-size: 18px;
    width: 75%; }

  #upcomingVideo {
    height: 60vh; } }
@media (max-width: 480px) {
  #upcomingInfo {
    display: none; }

  #upcomingVideo {
    height: 50vh; }

  .carouselCaptionInfo {
    display: none; } }
/*
.upcomingAnchor{
  text-decoration: none;
  text-emphasis: none;
  color: #FFF;
  text-align: center;

  &:hover{
    text-emphasis: none;
    text-decoration: none;
    color: #FFF;
  }
}
*/
/* FULL SCREEN OVERLAY */
.screenOverlay {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #111;
  height: 100vh;
  overflow-x: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  overflow-y: auto;
  transition: 0.5s; }

.screenOverlay-content {
  position: relative;
  width: 100%; }

.screenOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.screenOverlay a:hover, .screenOverlay a:focus {
  color: #f1f1f1; }

.screenOverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .screenOverlay {
    overflow-y: auto; }

  .screenOverlay a {
    font-size: 20px; }

  .screenOverlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
.episodes {
  height: 150px;
  width: 250px; }

.episodesImg {
  padding-top: 20px;
  cursor: pointer;
  height: 150px;
  width: 250px;
  box-shadow: 0 8px 6px -6px #000; }

/*# sourceMappingURL=index.css.map */
