
body, .container, .jumbotron{
    background: white;
}

@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

#header{
  background: url("\headercoverblur15.jpg") no-repeat center center;
    width: 100%;
    padding: 20px 10px 60px 10px;
    height: 100vh; 
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  line-height: 90vh;
   text-align: center;
   /*    -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px); 
  filter: blur(12px); */
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 75px;
       display: inline-block;
  vertical-align: middle;
  line-height: normal;
     -webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.contentHeader{
  text-align: center;
 width: 100%;
}

.contentTitle {
  border-bottom: 2px solid red;
  text-align: center;
  width: 250px;
  margin: auto;
  padding-bottom: 10px;
}

.contentSubtitle{
  border-bottom: 1px solid #ccc;
}

.profilePic{
  height: 130px;
  width: 130px;
  border: 2px solid red;
  border-radius: 100%;
}

.aboutUs{
  font-size: 14px !important;
  padding: 15px;
    -webkit-box-shadow: 3px 3px 5px 3px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 3px #aaa;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 3px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.recentUploads{
  border: 1px solid black;
  height: 300px;
}

#listOfRecentVideos{
  width: 100%; 
  overflow: auto;
}


.listLi{
  list-style-type: none;
  height: 75px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 5px 3px #aaa;  
  -moz-box-shadow:    3px 3px 5px 3px #aaa;  
  box-shadow:         3px 3px 5px 3px #aaa;  
  cursor: pointer;
}


.listImg {
  float: left;
  width: 25%px;
  height: 75px;
   -webkit-box-shadow: 3px 0px 0px 3px #aaa;  
  -moz-box-shadow:    3px 0px 0px 3px #aaa;  
  box-shadow:         3px 0px 0px 3px #aaa;  
}

.innerUl{
  padding-top:25px;
  list-style-type: none;
}

.innerLi:hover{
  color: #0366d6;
}




.storiesPic{
  height: 150px;
  width: 100%;
      -webkit-box-shadow: 3px 3px 5px 3px #aaa;  
  -moz-box-shadow:    3px 3px 5px 3px #aaa;  
  box-shadow:         3px 3px 5px 3px #aaa; 
 /* -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black; */
}

.secondRow, .thirdRow{
height: 210px;
}

/* slider */

.item{
  cursor: pointer;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* ISPOD SU Get in Touch kartice */

/* perspective */

.flip-container {
  perspective: 1000;
  margin: 10px;
  float: left;
}
/* turning on hover */

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
}
/* flipping speed here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* making the the other side hidden while flipping */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* front side is in front of a back side */

.front {
  z-index: 2;
  background-color: tomato;
  color: white;
}

.twitterBlue{
  background-color: #1DA1F2;
}

/* back side */

.back {
  transform: rotateY(180deg);
  background-color: lightblue;
}

.back p {
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Kaushan Script', cursive;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #333;
  color: white;
}

/* SNACKBAR / TOAST */

#snackbarSpy4er, #snackbarNonyx {
  background: #333;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    color: #FFF;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 25px;
    font-size: 17px;
    border-radius: 5px;
}

#snackbarSpy4er.show, #snackbarNonyx.show  {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.footer{
  height: 20vh; width: 100%; border-top: 1px solid #ccc;   text-align: center;
}